
# This is a test configuration file for the GLUE2Service publisher

# The entries are commands which will be executed using backquotes in perl
# They should write to stdout - the return code is not relevant

# This should return the site name (GLUE2DomainID)

get_site_id = echo myTestSite

# This allows a unique ID for the Service to be specified
# Otherwise it will default to an internal algorithm

get_service_id = hostname -f

# This allows publication of extra Capabilities not provided by the Endpoints
get_capability = echo some.extra.capability,some.other.extra.capability

# Override for the ServiceType, otherwise taken from the Endpoint
get_type = echo special.service.type

# Override for the QualityLevel, otherwise taken from the Endpoint
get_qualitylevel = echo completelybroken

# Override for the Complexity, otherwise taken from the Endpoint
# Format is X:Y:Z for endpointType=X, share=Y, resource=Z.
get_complexity = echo 6:6:6

# StatusInfo should be a list of URLs pointing to monitoring web pages or similar

get_statusinfo = echo -e "http://url.for.a.status.page/\nhttp://url.for.another.status.page/"

# Glue 2 allows extra information to be attached to any object

get_otherinfo = echo -e "Some extra service information\nSome more service information"

