Source: glue-service-provider
Maintainer: Laurence Field <project-grid-info-support@cern.ch>
Section: net
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/glue-service-provider/trunk
Vcs-Svn: svn://svn.cern.ch/reps/gridinfo/glue-service-provider/trunk
DM-Upload-Allowed: yes

Package: glue-service-provider
Architecture: all
Depends: ${misc:Depends}, bdii
Description: The GLUE service information provider. This enables Grid services 
 to publish information according to the GLUE information model.
